html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}


h1 {
    font-family: 'Playfair Display', 'Times New Roman', Times, serif;
    font-size: 48px;
    color: #5881FE;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #797979;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color:#797979;

}

h4 {
    font-family: 'Playfair Display', 'Times New Roman', Times, serif;
    font-size: 36px;
    color: darkslategrey;
}

em {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: italic;
    color:#797979;
    margin-top: 1em;
}

.button {
	background-color:#F76262;
	border-radius: 10px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold; 
    font-size: 16px;
	padding: 13px 32px;
    text-decoration: none;
    border: 0px;
}

.pad-bottom20 {
    margin-bottom: 320px;
}

.nav {
    color: #F76262;
}

.padding-top {
    padding-top: 7em;
}

.landing-background {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    align-content: center;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.read-size-container {
    display: flex;
    width: 65em;
    justify-content: space-between;
    margin: 0 auto;
}

.flex-column {
    display: flex;
    flex-direction: column;
}
.landing-columns {
    /* border: 1px solid #00ccff; */
    display: flex;
    flex-direction: column;
    width: 35vw;
}

.landing-subtitle {
    width: 35vw;
}

.social-icons {
    /* border: 2px solid red; */
    display: flex;
    width: 500px;
    justify-content: flex-start;
    padding-top: 25px;
}

.social-logo {
    margin-right: 50px;
}
.bottom-nav {
    border: 1px solid #00ccff;
    position: fixed;
    top: 0;
    width: 50vw;
    margin: 0;
    padding-top: 0px;
    display: flex;
    justify-content: space-evenly; 
    margin-bottom: 10vh; 
}


.work-section-background {
    background-color: #D9F6FF;
    margin: 0 auto;
    padding-bottom: 20px;

}

.work-section {
    /* border: 1px solid red; */
    width: 65em;
    margin: 0 auto;
}

.section-title {
    padding-bottom: 1em;
}
.offset-up {
    transform: translateY(-1em);
}

.read-size {
    display: flex;
    width: 65em;
}

.work-project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5em;
}

.description-box-right {
    /* border: 2px solid blue; */
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 4px 5px grey;
    padding: 30px;
    margin-left: -50px;
    width: 450px;
    height: 225px;
    
}

.description-box-left {
    /* border: 2px solid blue; */
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 4px 5px grey;
    padding: 30px;
    margin-right: -50px;
    width: 450px;
    height: 200px;
    z-index: 1;
    
}

.rcorners20 {
    border-radius: 20px;
}

.card-section {
    display: flex;
    flex-direction: column;
    width: 65em;
    justify-content: space-between;
    margin: 0 auto;
}
.card-container {
    display: flex;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
}

.card-desc {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    transform: translateY(-50px);
    box-shadow: 0px 4px 5px grey;
}