html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}


h1 {
    font-family: 'Playfair Display', 'Times New Roman', Times, serif;
    font-size: 42px;
    color: #5881FE;
}

h2 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 26px;
    color: #3b3b3b;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color:#3b3b3b;
    font-style: italic;

}

h6 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color:#929292;
    text-transform: uppercase;
    font-weight: bold;

}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color:#3b3b3b;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
}

.social-icons {
    display: flex;
    justify-content: space-evenly;
    padding: 30px 10px 50px 10px;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}
.card-image {
    width: 100%;
    z-index: -1;
}

.card-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-color: blue;
    border: 3px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 4px 5px grey;
    margin-top: -50px;
    z-index: 2;
}

.read-size {
    padding: 20px;
}
.work-section {
    background-color: #D9F6FF;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.section-title {
    margin-top: -1.4em;
}

.learn-more-btn {
    background:#eb5757;
    font-size:.77778rem;
    padding:.66667rem 1.11111rem;
    color:#ffffff;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .05em;
}
